@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root{
    --one-color: rgb(25, 25, 25);
    --two-color: rgba(15, 15, 15, 0.8);
    --three-color: rgba(15, 15, 15, 1);
    --four-color: rgba(233, 233, 233, 0.9);
    --five-color: rgba(233, 233, 233, 0.3);
    --six-color: rgba(196, 196, 196, 0.726);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
}

body{
    margin: 0;
    background-color: var(--one-color);    
}

@media (max-width: 640px){
    body{
        margin: 0;
    }
}



